<mat-card>
  <mat-card-title> {{ participantShortInfo$ | async }} </mat-card-title>
</mat-card>
<div *ngIf="judgeForm$ | async as form">
  <div class="judge-item-control"
    *ngFor="
      let itemType of form.itemTypes;
      index as index;
      last as last;
      trackBy: judgableItemTrackBy
    "
  >
    <app-gate-item-control *ngIf="itemType !== 'Start' && itemType !== 'Finish'"
      [score]="scores[itemType]"
      [gateNumber]="itemType"
      [disabled]="index != currentItemIndex"
      (valueSelected)="onGateScored(itemType, last, $event)"
    ></app-gate-item-control>
    <app-time-item-control *ngIf="itemType == 'Start' || itemType == 'Finish'"
      [title]="itemType"
    ></app-time-item-control>
    <div class="disabler" *ngIf="index != currentItemIndex"></div>
  </div>
  <div>
    <hr/>
    <p>debug</p>
    <p>{{ getScoresValue() }}</p>
  </div>
</div>
