<form [formGroup]="timeForm">
  <mat-label class="title">{{ title }}</mat-label>
  <mat-form-field class="time-part-input">
    <input matInput mask="Hh" formControlName="hour" [leadZeroDateTime]="true"/>
    <mat-hint>Час</mat-hint>
  </mat-form-field>
  <span>:&nbsp;</span>
  <mat-form-field class="time-part-input">
    <input matInput mask="m0" formControlName="minute" [leadZeroDateTime]="true"/>
    <mat-hint>Мин</mat-hint>
  </mat-form-field>
  <span>:&nbsp;</span>
  <mat-form-field class="time-part-input">
    <input matInput mask="s0"  formControlName="second" [leadZeroDateTime]="true"/>
    <mat-hint>Сек</mat-hint>
  </mat-form-field>
</form>
