<ng-container
  *ngTemplateOutlet="
    paticipantSelection;
    context: {
      currentAttempt: currentAttempt$ | async
    }
  "
>
</ng-container>
<ng-template #paticipantSelection let-currentAttempt="currentAttempt">
  <p>{{ judgeId$ | async }}</p>
  <p *ngIf="currentAttempt">
    Текущая попытка - {{ currentAttempt.title }}
  </p>
  <!-- <mat-icon>input</mat-icon>&nbsp; -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Номер участника</mat-label>
    <input
      matInput
      type="text"
      placeholder="Введите номер"
      aria-label="Номер участника"
      [formControl]="numberControl"
    />
  </mat-form-field>

  <app-participant-card
    [participant]="participantByNumber$ | async"
    (actionButtonClick)="gotoParticipantByNumberJudgement($event)"
  >
  </app-participant-card>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Очередь участников </mat-panel-title>
    </mat-expansion-panel-header>
    <app-participant-card
      *ngFor="let recommended of recommendedForJudge$ | async"
      [participant]="recommended"
      (actionButtonClick)="gotoParticipantByNumberJudgement($event)"
    >
    </app-participant-card>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title> Исправление введённых</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</ng-template>
